<html ng-app="listaTelefonica"> 

<head> 
	<meta charset="UTF-8">
	<title>Lista Telefonica</title> 
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;

			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}

		.table {
			margin-top: 20px;
		}

		.form-control {
			margin-bottom: 5px;
		}

		.selecionado {
			background-color: yellow;
		}

	</style>
	<script src="lib/angular/angular.js"></script>
	<script>
		angular.module("listaTelefonica", []);	
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
			$scope.app = "Lista Telefonica";
			// Definição de um array de contatos

			$scope.contatos = [
				{nome: "Pedro", telefone: "9999-8888", cor: "blue"},
				{nome: "Ana", telefone: "9999-7777", cor: "red"},
				{nome: "Maria", telefone: "9999-6666", cor: "green"}
			];
			$scope.operadoras = [
				{nome: "Oi", codigo: 14, categoria: "Celular"},
				{nome: "Vivo", codigo: 15, categoria: "Celular"},
				{nome: "Tim", codigo: 41, categoria: "Celular"},
				{nome: "GVT", codigo: 25, categoria: "Fixo"},
				{nome: "Embratel", codigo: 21, categoria: "Fixo"}
			];
			// A função push() insere no fim de um array
			$scope.adicionarContato = function (contato) {
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};

			// console.log($scope.contatos) mostra os contatos no console
			$scope.removerContatos = function (contatos) {
				// Reatribue no array contatos aqueles contatos que não estão selecionados
				$scope.contatos = contatos.filter(function (contato) {
					 if (!contato.selecionado) return contato;
				});
			};

			$scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function (contato){
					return contato.selecionado;
				});
			};

			$scope.classe = "selecionado";
		});
	</script>
</head>

<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<!-- OBS:podemos usar <h4 ng-bind="app"></h4>  ou <h4>{{app}}</h4> -->
		<h3>{{app}}</h3>
		<table class="table" ng-show="contatos.length > 0">
			<!-- 'th' para letras em negrito e td para letras em comum -->
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
			</tr>
			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><div style="width: 20px; height: 20px;" ng-style="{ 'background-color': contato.cor }"></td>
			</tr>
		</table>

		<hr/> <!-- Exibe uma linha (Apenas para estetica) -->

		<!-- o ng-model pega uma coisa da view e define no scope (Usado em Input, Select e Text Area) -->
		<form name="contatoForm">
			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>

			<!-- /\d{4}-\d{4}/ essa expressão regular verifica se existe na string a sequencia com 4 numeros '-' e mais 4 numeros -->

			<!-- /^\d{4}-\d{4}$/ essa expressão regular faz a mesma coisa da anterior, porem não aceita nada antes nem depois dos 4x numero - 4x numero -->
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>

			<!-- ng-options="operadora.codigo as operadora.nome for operadora in operadoras" mostra apenas o codigo de cada operadora-->

			<!-- ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" mostra as operadoras agrupadas pela categoria -->
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>

		<!-- ng-show="contatoForm.nome.$invalid -->
		<div class="alert alert-danger" ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty">
			Por Favor, preencha o campo nome!
		</div>
		<div class="alert alert-danger" ng-show="contatoForm.nome.$error.minlength && contatoForm.nome.$dirty">
			O campo nome deve conter no mínimo 10 caracteres.
		</div>

		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
			Por Favor, preencha o campo telefone!
		</div>

		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
			O campo telefone deve ter o formato DDDDD-DDDD.
		</div>



		<button class="btn btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato)">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="removerContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Remover Contato</button>

		<!-- o ng-click atribue um comportamento ao evento -->
		<!-- o ng-option renderiza as opções de um select -->
		<!-- o ng-class e ng-style aplicam classes CSS e estilos dinamicos -->
		<!-- o ng-show, ng-hide e ng-if exibem um elemento condicionalmente -->
		<!-- o ng-include inclue conteúdo dinamicamente -->
		<!-- o ng-required define um determinado campo como obrigatório -->
		<!-- o ng-minlength e ng-maxlength define o tamanho mínimo e máximo permitido -->
		<!-- ng-pattern define uma RegExp para validar o campo -->

		<!-- $valid e $invalid consulta a validade de um campo ou formulário -->
		<!-- $pristine e $dirty verificam se um formulário ou campo já foi utilizado alguma vez -->
		<!-- $error consulta os erros de um campo ou formulário -->
	</div>

	<!-- Importa o texto de um arquivo html -->
	<!-- 17:42 -->
	<div ng-include="'footer.html'"></div>
</body> 
	
</html>
